@page "/csdemo"
@inherits CallCSMethodModel

<h1>Invoking CS method from JavaScript</h1>

<button class="btn btn-primary" onclick="@invokeJSMethod">Call C# Method</button>
<br />
<br />
<p>@message</p>